html,body{
    background-color: #FFF7ED;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@font-face {
font-family: 'Resistance';
src: url('assets/fonts/resistance-generale-master/fonts/webfonts/resistance_generale-webfont.eot');
src: url('assets/fonts/resistance-generale-master/fonts/webfonts/resistance_generale-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/resistance-generale-master/fonts/webfonts/resistance_generale-webfont.woff2') format('woff2'),
    url('assets/fonts/resistance-generale-master/fonts/webfonts/resistance_generale-webfont.woff') format('woff'),
    url('assets/fonts/resistance-generale-master/fonts/webfonts/resistance_generale-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('Assets/Fonts/Merriweather/Merriweather-Regular.ttf');
    src: url('Assets/Fonts/Merriweather/Merriweather-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather_BI';
  src: url('Assets/Fonts/Merriweather/Merriweather-BlackItalic.ttf');
}

@font-face{
    font-family: 'Avara_Bold';
    src: url('Assets/Fonts/Avara/Bold/Avara-Bold.ttf');
    src: url('Assets/Fonts/Avara/Bold/Avara-Bold.woff2') format('woff2');
}
@font-face{
  font-family: 'Avara_Black';
  src: url('Assets/Fonts/Avara/Black/Avara-Black.ttf');
  src: url('Assets/Fonts/Avara/Black/Avara-Black.woff2') format('woff2');
}

button{
  background-color: #FFF7ED;
  border-color: #FFF7ED;
  border-style: solid;
  border-radius: 50%;
  border-width: 10px;
}

.mainbutton{
  background-color: #242424;
  border-radius: 10px;
  font-family: "Avara_Bold", sans-serif;
  font-size: 1.125rem;
  line-height: 18px;
  color: #FFF7ED;
  padding: 10px 20px 5px;
  border-width: 0px;
  margin-top: 24px;
}

.mainbutton-inv{
  background-color: #FFF7ED;
  border-radius: 10px;
  font-family: "Avara_Bold", sans-serif;
  font-size: 1.125rem;
  line-height: 18px;
  color:#242424;
  padding: 10px 20px 5px;
  border-width: 0px;
  margin-left: 14px;
}

.d-flex{
  flex-direction: column; 
  max-width: fit-content;
  padding: 0px;
  height: fit-content;
  align-items: center;
}

.brushstroke{
  background-color: #FFF7ED;
  position: absolute;
  top: 0;
}

.smbutton{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border-width: 0px;
  background-color: transparent;
  color: #FFF7ED;
  font-size: 3.75rem;
}

.prjbutton{
  background-color: transparent;
  font-size: 1.125rem;
  line-height: 18px;
  padding: 0;
  border-radius: 0px;
  margin-top: 24px;
}

.personalbtn{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border-width: 0px;
  background-color: transparent;
  color: #242424;
  font-size: 3.125rem;
}

.headerbutton{
  border-width: 0px;
  border-radius: 0%;
  background-color: transparent;
}

.basementbutton{
  border-width: 0px;
  border-radius: 0%;
  display: block;
  margin: 5px 0px;
  background-color: transparent;
  
}
.subbutton{
  background-color: #C84C4C;
  border-width: 0px;
  border-radius: 0%;
  padding: 0px 10px;  
}
input[type="email"], textarea{
  background-color: #FFF7ED;
  border-color: #FFF7ED;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  padding: 4px;
  margin: 10px 0px;
  min-width: 100%;
  max-width: 100%;
  
}
input[type="checkbox"]{
  padding: 0px;
  margin: 0px;
}

.bodytxt {
font-family: "Merriweather", sans-serif;
font-size: 1.125rem;
line-height: 1.5rem;
color: #242424;
display:block;
text-align: left;
margin-top: 24px;
}

.tagtxt {
  font-family: "Merriweather_BI", sans-serif;
  font-size: 1rem;
  color: #242424;
  display:block;
  text-align: left;
  margin-top: 24px;
  }

.newstxt {
font-family: "Merriweather", sans-serif;
font-size: 1.125rem;
line-height: 18px;
color: #FFF7ED;
display:block;
text-align: left;
}

.privacy {
font-family: "Merriweather", sans-serif;
font-size: 12px;
color: #FFF7ED;
display:inline;
text-align: left;
padding-left: 4px;
}

.basementbody{
font-family: "Merriweather", sans-serif;
font-size: 24px;
line-height: 24px;
color: #242424;
display:block;
text-align: center;
max-width: fit-content;
}

.title{
font-family: "Avara_Black", sans-serif;
font-size: 3rem;
color: #242424;
display:block;
text-align: left;
}

.connect{
font-family: "Avara_Bold", sans-serif;
font-size: 2.5rem;
line-height: 2.5rem;
color: #FFF7ED;
display:block;
text-align: left;
}

.submit{
font-family: "Avara_Bold", sans-serif;
font-size: 1.25rem;
color: #242424;
display:block;
text-align: left;
padding: 0px;
}

.header{
font-family: "Avara_Bold", sans-serif;
font-size: 1.5rem;
line-height: 64px;
text-decoration: underline;
color: #242424;
display:block;
text-align: left;
padding: 0px 0px 0px 0px;
margin: 0px;
}

.footer{
  font-family: "Avara_Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 64px;
  text-decoration: underline;
  color: #FFF7ED;
  display:block;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  }
.basement{
font-family: "Avara_Bold", sans-serif;
font-size: 2rem;
line-height: 2rem;
color: #FFF7ED;
width: fit-content;
display:block;
text-align: center;
margin-top: 24px;
}
.names{
font-family: "Avara_Bold", sans-serif;
font-size: 2rem;
color: #242424;
display:block;
text-align: center;
margin-left: 4px;
}
.img_profile{
  max-width: 30px;
  max-height: auto;
}




@media screen and (max-width: 1000px){ /* Changes font size for the Illustrografika */
  .title{
    font-size: 48px;
  }
  .connect{
    font-size: 40px;
  }
}

@media screen and (max-width: 434px){
  .title{
    font-size: 36px;
  }
  .connect{
    font-size: 36px;
  }
}

@media screen and (max-width: 768px){
  .btn-group{
  flex-wrap: nowrap;
  flex-direction: row;
}
}

@media screen and (max-width: 880px){
  .connect{
    text-align: center;
  }
}

  
@media screen and (max-width: 574px){
  .btn-group{
  flex-wrap: nowrap;
  flex-direction: row;
}
}

@media screen and (max-width: 880px){
  .header{
    text-align: center;
    padding: 0px;
  }
}